@page
@model Project.Pages.AboutModel
@{
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> Feane </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">
    <form action="/" method="post">
        <div class="hero_area">
            <div class="bg-box">
                <img src="images/hero-bg.jpg" alt="">
            </div>
            <!-- header section strats -->
            <header class="header_section">
                <div class="container">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="index.html">
                            <span>
                                Gelis
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  mx-auto ">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/Index">Home </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Shoping">Menu</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/About">About <span class="sr-only">(current)</span> </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Book">Book Table</a>
                                </li>
                            </ul>
                            <div class="user_option">
                                <a href="/Identity/Account/Register" class="user_link">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>
                                <li class="nav-item position-relative">
                                    <a class="nav-link" href="/shoping">
                                        🛒
                                        <span id="cartBadge"
                                              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            0
                                        </span>
                                    </a>
                                </li>
                                <form class="form-inline">
                                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <a href="/book" class="order_online">
                                    Book Online
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- end header section -->
        </div>

        <!-- about section -->

        <section class="about_section layout_padding">
            <div class="container  ">

                <div class="row">
                    <div class="col-md-6 ">
                        <div class="img-box">
                            <img src="images/about-img.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    We Are Gelis
                                </h2>
                            </div>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                                in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                                are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                                the middle of text. All
                            </p>
                            <a href="#" id="readMoreBtn">Read More</a>
                            <div id="aboutContent" style="display:none; margin-top:20px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end about section -->
        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-col">
                        <div class="footer_contact">
                            <h4>
                                Contact Us
                            </h4>
                            <div class="contact_link_box">
                                <a href="">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>
                                        Location
                                    </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>
                                        Call 07031029127(Nigeria)
                                    </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>
                                        Gelis@gmail.com
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <div class="footer_detail">
                            <a href="" class="footer-logo">
                                Gelis
                            </a>
                            <p>
                                Gelis maintains a consistent presence across major social platforms to connect with its audience, share updates, and build brand visibility. Social handles act as the digital identity of Gelis, making it easy for customers and partners to engage online.
                            </p>
                            <div class="footer_social">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <h4>
                            Opening Hours
                        </h4>
                        <p>
                            Everyday
                        </p>
                        <p>
                            10.00 Am -10.00 Pm
                        </p>
                    </div>
                </div>
                <div class="footer-info">
                    <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="">Gelis</a><br><br>
                        &copy; <span id="displayYear"></span> Distributed By
                        <a href="" target="_blank">Gelis</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- footer section -->
    </form>

    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const btn = document.getElementById("readMoreBtn");
            const container = document.getElementById("aboutContent");

            btn.addEventListener("click", function (e) {
                e.preventDefault();

                if (container.style.display === "none") {

                    container.innerHTML = `
                        <h2>Welcome to Gelis</h2>
                        <p><strong>Gelis</strong> brings flavors to life. As a proudly growing food company, we specialize in producing rich, authentic African dishes alongside carefully crafted international meals. Every plate is inspired by tradition, perfected with passion, and prepared with the highest standards of quality.</p>

                        <hr>

                        <h3>Our Story</h3>
                        <p>Gelis was founded with one simple goal — to serve food that feels like home while embracing tastes from around the world. From hearty local delicacies to globally loved recipes, we blend culture, creativity, and freshness in every bite.</p>

                        <hr>

                        <h3>What We Offer</h3>
                        <ul>
                            <li><strong>Authentic African Dishes</strong> – Fresh ingredients and traditional recipes.</li>
                            <li><strong>International Cuisine</strong> – Globally inspired flavors.</li>
                            <li><strong>Snacks & Small Chops</strong> – Perfect for events and quick treats.</li>
                            <li><strong>Catering Services</strong> – Corporate, weddings, birthdays and more.</li>
                        </ul>

                        <hr>

                        <h3>Why Choose Gelis?</h3>
                        <ul>
                            <li>Fresh, high-quality ingredients</li>
                            <li>Hygienic and professional preparation</li>
                            <li>Exceptional taste and presentation</li>
                            <li>Reliable service and timely delivery</li>
                            <li>Passion for customer satisfaction</li>
                        </ul>

                        <hr>

                        <h3>Taste the Difference</h3>
                        <p>At Gelis, food is more than a meal — it’s an experience.</p>
                        <p><strong>Gelis – Serving Culture. Sharing Flavor. Creating Moments.</strong></p>
                    `;

                    container.style.display = "block";
                    btn.textContent = "Read Less";

                } else {
                    container.style.display = "none";
                    btn.textContent = "Read More";
                }
            });

        });
    </script>
</body>

</html>